# credentials
credentials.json
credentials.loggly.json
s3cfg.env
#  go binary: directory-digester-reference
directory-digester-reference
# node_modules
node_modules/
# coverage
coverage/
# data
data/
data.201[45]-*.tgz
pouchdb/
couchdb/
podcast-history-*.json
episode-history-*.json
episode-play-history-*.json
.vscode/
