<div class="home" ng-controller="HistoryCtrl" md-theme="orange">

  <md-content class="fullheight">
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span>History</span>
      </h2>
    </md-toolbar>
    <section>
      <div ng-repeat="day in days">
        <md-subheader>
          {{moment(day).format('ll')}}  <i>({{historyByDay[day].length}})</i>
        </md-subheader>

        <md-list>
          <md-item ng-repeat="event in historyByDay[day] | filter:playFilter">
            <md-item-content>
              <!--  wf-z0 does not exist -->
              <md-whiteframe class="md-whiteframe-z1" layout layout-fill layout-align="center start">
                <div class="md-tile-left">
                    <img ng-src="{{lookupThumb(event.podcast_uuid)}}" class="podcast_thumb" alt="PodcastName">
                </div>
                <div class="md-tile-content">
                  <h3>{{event.episode_title}} <small>{{moment(event.stamp).fromNow()}}</small></h3>
                  <h4>{{event.podcast_title}} <small>|Δ|:{{event.changes.length}}</small></h4>
                  <md-content ng-if="(event.changes| filter:changeFilter).length>0">
                    <div ng-repeat="change in event.changes| filter:changeFilter">
                      <div> {{change.op}} {{change.key}} 
                        {{change.from}} <i class="fa fa-arrow-right"></i> {{change.to}}
                      </div>
                    </div>
                  </md-content>
                </div>
              </md-whiteframe>
            </md-item-content>
            <md-divider inset ng-if="!$last"></md-divider>
          </md-item>
        </md-list>

      </div>

    </section>
</div>
