<div class="history" ng-controller="HistoryCtrl" md-theme="orange">

  <md-content class="fullheight">
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <i class="fa fa-history"></i>
        <span>History</span>
      </h2>
      <a ui-sref="stats"><md-button class="md-primary md-fab md-fab-top-right">
        <i class="fa fa-pie-chart"></i>
      </md-button></a>
    </md-toolbar>
    <section>
      <div ng-repeat="day in days">
        <md-subheader>
          <!-- {{moment(day).format('ll')}} -->
          {{moment(day).calendar()}}
          <i>({{episodesByDay[day].length}})</i>
          <i class="fa fa-history"></i>
        </md-subheader>

        <md-list>
          <md-item ng-repeat="episodeHistory in episodesByDay[day]| filter:playFilter">
            <md-item-content>
              <!--  wf-z0 does not exist -->
              <md-whiteframe class="md-whiteframe-z1" layout layout-fill layout-align="center start">
                <div class="md-tile-left">
                    <img ng-src="{{lookupThumb(episodeHistory.merged.podcast_uuid)}}" class="podcast_thumb" alt="PodcastName">
                </div>
                <div class="md-tile-content">
                  <h3>
                    <i ng-if="episodeHistory.merged.starred" style="color: #F57C00;" class="fa fa-star fa-lg"></i>
                    {{episodeHistory.merged.title}} 
                    <small>{{moment(episodeHistory.lastUpdated).fromNow()}}</small></h3>
                  <h4>{{lookupTitle(episodeHistory.merged.podcast_uuid)}}</h4>
                  <md-content ng-if="(episodeHistory.history)">
                    <div layout="row" layout-padding>
                      <md-button ng-click="toggleSelected(episodeHistory)" class="md-raised md-primary">|Δ|:{{episodeHistory.history.length}} ...</md-button>
                      <pre></pre>
                      <div flex><md-progress-linear md-mode="determinate" value="{{100*episodeHistory.merged.played_up_to/episodeHistory.merged.duration}}"></md-progress-linear></div>
                    </div>
                    <div ng-if="isSelected(episodeHistory)" ng-repeat="event in episodeHistory.history">
                      <div ng-repeat="change in event.changes|filter:changePlayedUpToFilter"> 
                        <md-progress-linear md-mode="buffer" value="{{100*change.from/episodeHistory.merged.duration}}" md-buffer-value="{{100*change.to/episodeHistory.merged.duration}}"></md-progress-linear>
                        <div layout="row" layout-padding>
                          <div flex> {{100*change.to/episodeHistory.merged.duration|number:0}}% </div>
                          <div flex> {{hms(change.from)}}  <i class="fa fa-arrow-right"></i> {{hms(change.to)}}</div>
                          <div flex>  of {{hms(episodeHistory.merged.duration)}}</div>
                          <div flex>  <i>at {{moment(event.stamp).format('LT')}} {{moment(event.stamp).calendar()}} </i></div>
                        </div>
                      </div>
                    </div>
                    <pre ng-if="isSelected(episodeHistory)">{{episodeHistory|json}}</pre>
                  </md-content>
                </div>
              </md-whiteframe>
            </md-item-content>
            <md-divider inset ng-if="!$last"></md-divider>
          </md-item>
        </md-list>

      </div>

    </section>
</div>
