
<!-- Vestigial bootstrap 
<div class="col-md-12" ng-controller="HomeCtrl">
</div>
 -->

<div class="home" ng-controller="HomeCtrl" md-theme="orange">

<!-- de seb
  <div layout="vertical" layout-fill style="height: 600px;">
    <div flex></div>

    This layout fills up 100% of its parent's width and height.
  </div>
 -->

  <md-content style="height: 600px;">
    <md-toolbar ng-if='true'>
      <h2 class="md-toolbar-tools">
        <span>Toolbar: default</span>
      </h2>
    </md-toolbar>
    <section>
      <md-subheader class="md-primary">Podcasts</md-subheader>
      <md-list layout="vertical" layout-fill>
        <md-item ng-repeat="podcast in podcasts">
          <md-item-content>
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
              <div class="md-tile-left">
                  <img width="64" ng-src="{{podcast.thumbnail_url}}" class="face" alt="{podcast.title}}">
              </div>
              <div class="md-tile-content">
                <h3>{{podcast.title}}</h3>
                <h4>{{podcast.author}}</h4>
                <p>
                  {{podcast.episode}}
                </p>
              </div>
            </md-whiteframe>
          </md-item-content>
        </md-item>
      </md-list>
    </section>

    <section ng-repeat="kind in ['in_progress','new_releases']">
      <md-subheader class="md-primary">{{kind}} Episodes</md-subheader>
      <md-list layout="vertical">
        <md-item ng-repeat="episode in in_progress.concat(new_releases)">
          <md-item-content>
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
              <div class="md-tile-left">
                  <img ng-src="/images/podcast.jpg" class="face" alt="PodcastName">
              </div>
              <div class="md-tile-content">
                <h3>{{episode.title}}</h3>
                <h4>{{episode.published_at}}</h4>
                <p>
                  {{episode}}
                </p>
              </div>
            </md-whiteframe>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
  </md-content>

</div>

