
<!-- Vestigial bootstrap 
<div class="col-md-12" ng-controller="HomeCtrl">
</div>
 -->

<div ng-controller="HomeCtrl">

  <md-content>
    <md-list>

      <!-- <md-item ng-repeat="episode in in_progress.episodes"> -->
      <md-item ng-repeat="episode in in_progress.concat(new_releases)">
        <md-item-content>
          <div class="md-tile-left">
              <img ng-src="//placehold.it/64x64" class="face" alt="PodcastName">
          </div>
          <div class="md-tile-content">
            <h3>{{episode.title}}</h3>
            <h4>{{episode.published_at}}</h4>
            <p>
              {{episode}}
            </p>
          </div>
        </md-item-content>
      </md-item>

    </md-list>

  </md-content>

</div>

