
<!-- Vestigial bootstrap 
<div class="col-md-12" ng-controller="HomeCtrl">
</div>
 -->

<div class="home" ng-controller="HomeCtrl">

  <md-content>
    <section>
      <md-subheader class="md-primary">Podcasts</md-subheader>
      <md-list layout="vertical">
        <md-item ng-repeat="podcast in podcasts">
          <md-item-content>
            <div class="md-tile-left">
                <img width="64" ng-src="{{podcast.thumbnail_url}}" class="face" alt="{podcast.title}}">
            </div>
            <div class="md-tile-content">
              <h3>{{podcast.title}}</h3>
              <h4>{{podcast.author}}</h4>
              <p>
                {{podcast.episode}}
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>

    <section ng-repeat="kind in ['in_progress','new_releases']">
      <md-subheader class="md-primary">{{kind}} Episodes</md-subheader>
      <md-list layout="vertical">
        <md-item ng-repeat="episode in in_progress.concat(new_releases)">
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="/images/podcast.jpg" class="face" alt="PodcastName">
            </div>
            <div class="md-tile-content">
              <h3>{{episode.title}}</h3>
              <h4>{{episode.published_at}}</h4>
              <p>
                {{episode}}
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
  </md-content>

  <md-content>
    <md-list>

      <!-- <md-item ng-repeat="episode in in_progress.episodes"> -->


    </md-list>

  </md-content>

</div>

